@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;700&display=swap');

:root {
  --bg: #1B2430;
  --purple: #7A86B6;
  --bluish: #395B64;
}

body {
  font-family: 'Rubik', sans-serif;
  padding: 0px;
  margin: 0;
  background-color: var(--bg);
  color: var(--purple);
}

nav {
  padding: 0 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;

}

nav .brand {
  font-weight: 700;
  color: #fff;
}

nav .brand span {
  color: var(--bluish);
}

nav ul {

  display: flex;
  list-style-type: none;
  gap: 1em;
}

nav ul a {
  text-decoration: none;
  position: relative;
  color: #fff;
}

nav ul a:after {
  content: '';
  position: absolute;
  z-index: -1;
  top: 60%;
  left: -0.1em;
  right: -0.1em;
  bottom: 0;
  transition: top 200ms;
  background-color: var(--bluish);
}

nav ul a:hover:after {
  top: 0%;
}

.main {
  display: flex;
  flex-direction: column;
  height: 700px;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.main img {
  width: 200px;
  border-radius: 50%;
}

.main h1 {
  margin-bottom: 0px;
}

.colors {
  transition: all 0.4s;
  animation: 10s ease 0s infinite alternate none running rainbow;
}

.main h3 {
  margin-top: 5px;
  margin-bottom: 25px;
  font-weight: 300;
}

.main .socials {
  display: flex;
  gap: 2em;
}

.main .socials i {
  font-size: 1.5rem;
}

.main a {
  color: var(--purple);
}

.main a:hover {
  color: var(--bluish);
}



@media screen and (min-width: 800px) {
  body {
    padding: 10px 30px;
  }

  nav .brand {
    font-size: 1.4rem;
  }

  nav ul {
    font-size: 1.2rem;
    gap: 3em;
  }
}


@keyframes rainbow {
  0% {
    color: #EAB9C9;
  }

  25% {
    color: #E9D5DA;
  }

  50% {
    color: #FFDD93;
  }

  75% {
    color: #D4ECDD;
  }

  100% {
    color: #D8E9A8;
  }
}