      a:after {
        content: '';
        position: absolute;
        z-index: -1;
        top: 60%;
        left: -0.1em;
        right: -0.1em;
        bottom: 0;
        transition: top 200ms;
        background-color: #395B64;
      }

      a:hover:after {
        top: 0%;
      }